@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Rubik+Moonrocks&family=Tangerine:wght@700&family=Ubuntu:wght@700&display=swap");

#loader {
	padding: 0 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#loader path:nth-child(1) {
	stroke-dasharray: 557px;
	stroke-dashoffset: 557px;
	animation: loader-animation 2s ease forwards;
}

#loader path:nth-child(2) {
	stroke-dasharray: 497px;
	stroke-dashoffset: 497px;
	animation: loader-animation 2s ease forwards 0.3s;
}

#loader path:nth-child(3) {
	stroke-dasharray: 336px;
	stroke-dashoffset: 336px;
	animation: loader-animation 2s ease forwards 0.6s;
}

#loader path:nth-child(4) {
	stroke-dasharray: 532px;
	stroke-dashoffset: 532px;
	animation: loader-animation 2s ease forwards 0.9s;
}

#loader path:nth-child(5) {
	stroke-dasharray: 265px;
	stroke-dashoffset: 265px;
	animation: loader-animation 2s ease forwards 1.2s;
}

#loader path:nth-child(6) {
	stroke-dasharray: 436px;
	stroke-dashoffset: 436px;
	animation: loader-animation 2s ease forwards 1.5s;
}

#loader path:nth-child(7) {
	stroke-dasharray: 372px;
	stroke-dashoffset: 372px;
	animation: loader-animation 2s ease forwards 1.8s;
}

#loader path:nth-child(8) {
	stroke-dasharray: 329px;
	stroke-dashoffset: 329px;
	animation: loader-animation 2s ease forwards 2.1s;
}

.desktop-nav {
	position: relative;
}

.desktop-nav::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5) 0 0 / 400% 100%;
	animation: text_gradient 5s linear infinite;
	transform-origin: bottom right;
	transition: all 0.25s ease-out;
}

.nav_link {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5) 0 0 / 400% 100%;
	color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: text_gradient 5s linear infinite;
}

.desktop-navlink-dark {
	background: linear-gradient(90deg, #cb7ceb, #e73c7e, #23a6d5) 0 0 / 400% auto;
	color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: desktop_link_gradient 10s linear infinite;
	font-weight: 700;
	transition: all 0.25s ease-out;
	position: relative;
}

.link-dark {
	font-weight: 600;
	color: #f87aaa !important;
	position: relative;
}

.link-light {
	font-weight: 600;
	color: #960b6a !important;
	position: relative;
}

.desktop-navlink-dark::after,
.link-dark::after,
.link-light::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: all 0.25s ease-out;
}

.link-dark::after {
	background-color: #f87aaa;
	height: 1px;
}
.link-light::after {
	position: absolute;
	background-color: #960b6a;
	height: 1px;
}

.desktop-navlink-dark:hover::after,
.link-dark:hover::after,
.link-light:hover::after {
	// color: #1a202c;
	transform-origin: bottom left;
	transform: scaleX(1);
}

.desktop-navlink-light {
	color: #4a5568;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.25s ease-out;
	padding: 0.3rem;
	position: relative;
}

.desktop-navlink-light:hover {
	color: #1a202c;
}

.my_name {
	font-weight: 700;
	color: transparent;
	background: linear-gradient(90deg, #e73c7e, #23a6d5, rgb(221, 155, 80), #cb7ceb) 0 0 / 400% auto;
	animation: 8s text_gradient infinite alternate;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 1px;
	cursor: pointer;
}

.desktop-navlink-light::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #1a202c;
	transform-origin: bottom right;
	transition: all 0.25s ease-out;
}

.desktop-navlink-light:hover::after {
	color: #1a202c;
	transform-origin: bottom left;
	transform: scaleX(1);
}

.typewriter {
	padding-bottom: 0.25rem;
	font-weight: 700;
	border-bottom: 1.5px solid #cc2ed1;
}

.cursor-typewriter {
	color: #cc2ed1;
}

.home-img {
	animation: home-img-anim infinite alternate 2s 1.5s;
}

.tagcloud--item {
	pointer-events: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

	&:focus {
		outline: 0;
	}

	&:before,
	&:after {
		position: absolute;
		content: "";
		display: block;
		width: 140%;
		height: 100%;
		left: -20%;
		z-index: -1000;
		transition: all ease-in-out 0.5s;
		background-repeat: no-repeat;
	}

	&:before {
		display: none;
		top: -75%;
		background-image: radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, transparent 20%, #e73c7e 20%, transparent 30%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, transparent 10%, #e73c7e 15%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%);
		background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
	}

	&:after {
		display: none;
		bottom: -75%;
		background-image: radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, transparent 10%, #e73c7e 15%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%),
			radial-gradient(circle, #e73c7e 20%, transparent 20%);
		background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
	}

	&:active {
		transform: scale(0.9);
		background-color: darken(#e73c7e, 5%);
		box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
	}

	&.animate {
		&:before {
			display: block;
			animation: topBubbles ease-in-out 0.75s forwards;
		}
		&:after {
			display: block;
			animation: bottomBubbles ease-in-out 0.75s forwards;
		}
	}
}

.project-details::before {
	content: " ";
	width: 2px;
	background: linear-gradient(0deg, #cfdb56 0%, #7f64c8 100%);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
}
// .project-details::before:nth-child(1) {
// 	background: linear-gradient(0deg, #cfdb56 0%, #7f64c8 100%);
// }
.project-list::before {
	content: " ";
	width: 2px;
	background: linear-gradient(135deg, #7f64c8 0%, #cfdb56 50%, #7f64c8 100%);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
}
// .project-link-dark {
// 	font-weight: 700;
// 	transition: all 0.25s ease-out;
// 	position: relative;
// }

// .project-link-dark:hover {
// 	font-weight: 800;
// }

// .project-link-dark::after {
// 	content: "";
// 	position: absolute;
// 	width: 100%;
// 	transform: scaleX(0);
// 	height: 2px;
// 	bottom: 0;
// 	left: 0;
// 	background-color: #1a202c;
// 	transform-origin: bottom right;
// 	transition: all 0.25s ease-out;
// }

.project-name:hover {
	font-weight: 500;
}

.project-name::before,
.project-link::before {
	content: "";
	height: 1px;
	width: 100%;
	background: linear-gradient(270deg, #cfdb56 0%, #7f64c8 100%);
	opacity: 1;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	transition: 0.2s all linear;
}
.project-link::before {
	height: 2px;
}
.project-name:hover::before,
.project-link:hover::before {
	background: linear-gradient(270deg, #7f64c8 0%, #cfdb56 100%);
}

@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%,
			70% 90%;
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%,
			90% 30%;
	}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%,
			90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes section-heading-anim {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50% 0%;
	}
}

@keyframes home-img-anim {
	from {
		transform: translate3d(0, 20px, 0);
	}
	to {
		transform: translate3d(0, -15px, 0);
	}
}

@keyframes desktop_link_gradient {
	to {
		background-position: 400% center;
	}
}

@keyframes text_gradient {
	// to {
	// 	background-position: 400% center;
	// }
	0% {
		background-position: 5% 50%;
	}
	25% {
		background-position: 30% 70%;
	}
	50% {
		background-position: 100% 50%;
	}
	75% {
		background-position: 70% 30%;
	}
	100% {
		background-position: 10% 50%;
	}
}

@keyframes loader-animation {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes animate {
	0%,
	100% {
		color: #e73c7e;
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		color: #23a6d5;
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

// .bouncy_anim:hover {
// 	color: #cc2ed1;
// 	transition: all 0.2s ease-in-out;
// }

// .section-heading {
// 	color: transparent;
// 	background: linear-gradient(90deg, #11175c, #e73c7e);
// 	animation: 8s text_gradient infinite linear;
// 	-webkit-background-clip: text;
// 	-moz-background-clip: text;
// 	background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	letter-spacing: 1px;
// }

// .section-heading-dark {
// 	color: transparent;
// 	background: linear-gradient(90deg, #e73c7e, #d2eb7c);
// 	animation: 8s text_gradient infinite linear;
// 	-webkit-background-clip: text;
// 	-moz-background-clip: text;
// 	background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	letter-spacing: 1px;
// }
